<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2 class="mb-5">Daftar Contact</h2>
      <a href="/contact/add" class="btn btn-primary mb-2"
        ><i class="bi bi-plus-lg"></i> Add Contact</a
      >
      <% if (message.length !== 0) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= message %>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <% } %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if (contacts.length === 0) { %>
          <tr>
            <td colspan="4">
              <div class="alert alert-danger fw-bold" role="alert">
                Empty Contact.
              </div>
            </td>
          </tr>
          <% } %> <% contacts.forEach((contact, index) => { index++ %>
          <tr>
            <th scope="row"><%= index %>.</th>
            <td><%= contact.name %></td>
            <td><%= contact.phone %></td>
            <td>
              <a
                href="/contact/<%= contact.name %>"
                class="btn btn-success badge rounded-pill"
                ><i class="bi bi-info-circle"></i> Detail</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
